<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelLmServlet</servlet-name>
    <servlet-class>com.lecheng.cms.servlet.DelLmServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdataLm</servlet-name>
    <servlet-class>com.lecheng.cms.servlet.UpdataLm</servlet-class>
  </servlet>

 <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>qiantaixw</servlet-name>
    <servlet-class>com.lecheng.cms.servlet.qiantaixw</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>qiantaixw01</servlet-name>
    <servlet-class>com.lecheng.cms.servlet.qiantaixw01</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>qiantaixw02</servlet-name>
    <servlet-class>com.lecheng.cms.servlet.qiantaixw02</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>qiantaixw03</servlet-name>
    <servlet-class>com.lecheng.cms.servlet.qiantaixw03</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectContentServlet</servlet-name>
    <servlet-class>com.lecheng.cms.servlet.SelectContentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QianTaiNewsServlet</servlet-name>
    <servlet-class>com.lecheng.cms.servlet.QianTaiNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>XiangXiNews</servlet-name>
    <servlet-class>com.lecheng.cms.servlet.XiangXiNews</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectTitleServlet</servlet-name>
    <servlet-class>com.lecheng.cms.servlet.SelectTitleServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>qiantaixw</servlet-name>
    <url-pattern>/servlet/qiantaixw</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>qiantaixw01</servlet-name>
    <url-pattern>/servlet/qiantaixw01</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>qiantaixw02</servlet-name>
    <url-pattern>/servlet/qiantaixw02</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>qiantaixw03</servlet-name>
    <url-pattern>/servlet/qiantaixw03</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectContentServlet</servlet-name>
    <url-pattern>/servlet/SelectContentServlet</url-pattern>
</servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelLmServlet</servlet-name>
    <url-pattern>/servlet/DelLmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdataLm</servlet-name>
    <url-pattern>/servlet/UpdataLm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QianTaiNewsServlet</servlet-name>
    <url-pattern>/servlet/QianTaiNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XiangXiNews</servlet-name>
    <url-pattern>/servlet/XiangXiNews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectTitleServlet</servlet-name>
    <url-pattern>/servlet/SelectTitleServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
