<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	  <!-- 2.4版FCKeditor配置 -->
  	<servlet>
	   <servlet-name>Connector</servlet-name>
	   <servlet-class>
	    com.lecheng.cms.servlet.ConnectorServlet 
	    <!-- net.fckeditor.connector.ConnectorServlet  -->  
	    
	   </servlet-class>
	   <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
	   <servlet-name>Connector</servlet-name>
	   <url-pattern>
	    /fckeditor/editor/filemanager/connectors/*
	   </url-pattern>
	</servlet-mapping>
	
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelLmServlet</servlet-name>
    <servlet-class>com.lecheng.cms.servlet.DelLmServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdataLm</servlet-name>
    <servlet-class>com.lecheng.cms.servlet.UpdataLm</servlet-class>
  </servlet>

 
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectContentServlet</servlet-name>
    <servlet-class>com.lecheng.cms.servlet.SelectContentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>

    <servlet-name>QianTaiNewsServlet</servlet-name>
    <servlet-class>com.lecheng.cms.servlet.QianTaiNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>XiangXiNews</servlet-name>
    <servlet-class>com.lecheng.cms.servlet.XiangXiNews</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectTitleServlet</servlet-name>
    <servlet-class>com.lecheng.cms.servlet.SelectTitleServlet</servlet-class>
  </servlet>
<servlet>
    <servlet-name>LmSelectServlet</servlet-name>
    <servlet-class>com.lecheng.cms.servlet.LmSelectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsPublishServlet</servlet-name>
    <servlet-class>com.lecheng.cms.servlet.NewsPublishServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>XiugaimimaServlet</servlet-name>
    <servlet-class>com.lecheng.cms.servlet.XiugaimimaServlet</servlet-class>
  </servlet>
   <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.lecheng.cms.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectServlet</servlet-name>
    <servlet-class>com.lecheng.cms.servlet.SelectServlet</servlet-class>
  </servlet>
  





  

  <servlet-mapping>
    <servlet-name>SelectContentServlet</servlet-name>
    <url-pattern>/servlet/SelectContentServlet</url-pattern>
</servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelLmServlet</servlet-name>
    <url-pattern>/servlet/DelLmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdataLm</servlet-name>
    <url-pattern>/servlet/UpdataLm</url-pattern>
  </servlet-mapping>

 <servlet-mapping>
    <servlet-name>QianTaiNewsServlet</servlet-name>
    <url-pattern>/servlet/QianTaiNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XiangXiNews</servlet-name>
    <url-pattern>/servlet/XiangXiNews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectTitleServlet</servlet-name>
    <url-pattern>/servlet/SelectTitleServlet</url-pattern>
  </servlet-mapping>
<servlet-mapping>
    <servlet-name>LmSelectServlet</servlet-name>
    <url-pattern>/servlet/LmSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsPublishServlet</servlet-name>
    <url-pattern>/servlet/NewsPublishServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XiugaimimaServlet</servlet-name>
    <url-pattern>/servlet/XiugaimimaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectServlet</servlet-name>
    <url-pattern>/servlet/SelectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelAllLmServlet</servlet-name>
    <url-pattern>/servlet/DelAllLmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdataLm</servlet-name>
    <url-pattern>/servlet/UpdataLm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LmUpdateServlet</servlet-name>
    <url-pattern>/servlet/LmUpdateServlet</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
